@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
$leftContainerFont : 'Montserrat', sans-serif;
$leftContainerPrimaryFontColor : #333;
$leftContainerSecondaryFontColor : #4f4f4f;
$infoBoxColorAndBackgroundColor : #828282;
$attentionColor : #f2994a;
$otherColor : #fff;
$rightContainerBackgroundColor : #eee;
$listItemsColor : #4e5150;
$listItemsBorderColor : rgb(136,136,136);
$buttonBorderColor : #e0e0e0 ;
$shippingAndTotalBorderColor : #bdbdbd;