@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body .container, html .container {
  width: 100%;
  position: relative;
}
body .container h1, html .container h1 {
  text-align: center;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
body .container main, html .container main {
  display: flex;
}

@media (max-width: 800px) {
  main {
    flex-wrap: wrap-reverse;
  }
  main .right-container {
    margin: 10px auto;
  }
  main .left-container {
    margin: 10px auto 10px 40px;
  }

  .container {
    margin-bottom: 100px;
  }
}
@media (max-width: 500px) {
  main {
    flex-wrap: wrap-reverse;
  }
  main .right-container {
    margin: 10px auto;
    width: 80%;
  }
  main .left-container {
    margin: 10px auto 10px 20px;
    width: 75%;
  }
  main .left-container .checkbox-area input {
    margin: 10px 10px 10px -140px;
  }
  main .left-container .checkbox-area label {
    margin-left: -135px;
  }

  .container {
    margin-bottom: 100px;
  }
}
.left-container {
  margin-right: 100px;
  margin-left: 15%;
}
.left-container #contact, .left-container #shipping {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: bold;
  width: 370px;
}
.left-container label {
  display: block;
  margin: 10px 0;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  color: #4f4f4f;
}
.left-container input, .left-container select {
  padding: 8px 5px 8px 35px;
  border: 1px solid #828282;
  color: #4f4f4f;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 5px;
}
.left-container .input-area {
  position: relative;
}
.left-container .input-area i {
  position: absolute;
  top: 9px;
  left: 8px;
}
.left-container .shipping-address {
  margin-top: 50px;
}
.left-container .country-postcode {
  margin-top: 30px;
  display: flex;
}
.left-container .country-postcode .input-area {
  margin-right: 10px;
}
.left-container .country-postcode .input-area i {
  top: 45px;
}
.left-container .checkbox-area {
  display: flex;
  margin-top: 10px;
}
.left-container .checkbox-area input {
  margin: 10px 10px 10px -175px;
}
.left-container .checkbox-area label {
  margin-left: -170px;
}
.left-container #continue-button {
  position: relative;
}
.left-container #continue-button #button-submit {
  background-color: #f2994a;
  color: #fff;
  padding: 14px 0;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  right: 0;
  margin: 20px -50px 0 0;
  width: 20%;
  border: none;
}

.right-container {
  height: 360px;
  width: 360px;
  margin-right: 5%;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #eee;
}
.right-container .product {
  display: flex;
  font-family: "Montserrat", sans-serif;
}
.right-container .product img {
  height: 110px;
  width: 95px;
  border-radius: 10px;
  margin: 10px 25px 0 0;
}
.right-container .product h2 {
  margin: 15px 0 15px 0;
  color: #4e5150;
  font-size: 1rem;
}
.right-container .product p, .right-container .product #sale-price-1, .right-container .product #sale-price-2 {
  display: inline;
  color: #f2994a;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 5px;
}
.right-container .product p span, .right-container .product #sale-price-1 span, .right-container .product #sale-price-2 span {
  text-decoration: line-through;
  font-size: 0.75rem;
  color: #4e5150;
  font-weight: 400;
  margin: 5px 0 5px 0;
}
.right-container .product .amount {
  border: 1px solid #888888;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
.right-container .product .amount p {
  font-size: 0.75rem;
  color: #4e5150;
}
.right-container .product .amount button {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 5px;
  border: none;
}
.right-container .product .amount button i {
  font-size: 0.75rem;
}
.right-container .payment {
  position: relative;
  bottom: -60px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
  height: 30px;
  width: 290px;
}

/*# sourceMappingURL=style.css.map */
